<h1 class="text-center">Check out successful!</h1>
<h4 class="text-center">Thank you for shopping with Nuggalopes and Friends!</h4>
<p class="text-center"><%= link_to "Return to store", '\products#index' %></p>